<h2>
  Настройки
</h2>
<button mat-button
        (click)="openDialogForm(true, null)">Add
</button> <!-- вызов диалога добавить/изменить -->

<mat-table #table [dataSource]="dataSource" matSort>
 <!-- <ng-container matColumnDef="check">
   <mat-header-cell *matHeaderCellDef mat-sort-header>Select</mat-header-cell>
    <mat-checkbox [(ngModel)]="isChecked">Checked</mat-checkbox>
  </ng-container>
  -->

  <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <div [ngSwitch]="[column]">
      <ng-template ngSwitchCase="button">
        <button class="delete" title="delete setting" mat-button
                (click)="openDialogMessage(element) ">Delete</button>
        <button mat-button
                (click)="openDialogForm(false, element)">Edit</button>
      </ng-template>
      <ng-template ngSwitchDefault>
        {{element[column]}}
      </ng-template>

    </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<app-messages></app-messages>
