
.left-col {
  width: 15%;
  background-color: antiquewhite;
  float: left;
  vertical-align: top;
  border-right: 5px solid black;
  height: 500px;

}

.left-col li {
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 5px;
  border: solid 1px #000;
}

.left-col a {
  height: 30px;
  width: 100%;
}

.left-col li:hover, .left-col a:hover {
  background-color: #000;
  display: block;
  color: #fff;
}
/*
.left-col li a:hover {
  color: #fff;
}
*/
.right-col {
  width: 80%;
  background-color: dimgray;
  float: left;
  vertical-align: top;
  height: 500px;
  padding-left: 10px;
}
